.gallery {
  max-width: 1280px;

  &__container {
    margin: 0 20px;

    @include onTablet {
      margin: 0 34px;
    }

    @include onDesktop {
      margin: 0 55px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-family: $montserrat;
    font-size: 36px;
    line-height: 36px;
    text-align: center;

    @include onTablet {
      margin-bottom: 48px;
      font-size: 48px;
      line-height: 48px;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__images {
    margin-bottom: 50px;

    @include onDesktop {
      display: flex;
      gap: 30px;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    @include onTablet {
      width: calc(100vw / 2 - 54px);
      height: auto;
    }

    @include onDesktop {
      width: auto;
      height: auto;
      object-fit: none;

      @include hover(transform, scale(102%));
    }
  }

  &__pagination .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: $green;
  }
}
