.modal {
  position: absolute;
  top: -100vh;
  width: 100%;
  height: 100vh;
  color: $white;
  background-color: rgba(0, 0, 0, 0);
  transition: top 0.3s, background-color 0.3s;

  &:target {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: top 0.3s, background-color 0.6s;
  }

  &__container {
    background-color: $green;
  }

  &__wrapper {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 28px 20px;
    background-color: $green;

    @include onTablet {
      display: flex;
      padding: 40px;
      gap: 38px;
    }

    @include onDesktop {
      padding: 44px 60px;
      gap: 102px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-start;
    gap: 34px;
    margin-bottom: 24px;
    font-weight: 500;

    @include onTablet {
      justify-content: center;
    }

    @include onDesktop {
      gap: 108px;
    }
  }

  &__content {
    max-width: 800px;
  }

  &__close-link {
    display: flex;
    width: 12px;
    height: 12px;
    padding: 5px;
    background-image: url(../../src/images/icons/cross.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @include hover(transform, scale(120%));
  }

  &__list {
    display: grid;
    grid-template-columns: minmax(100px, 170px) minmax(100px, 170px);
    gap: 28px 24px;
    align-content: start;

    @include onTablet {
      grid-template-columns: 100px 100px;
      gap: 20px 24px;
    }

    @include onDesktop {
      grid-template-columns: 170px 170px;
      gap: 30px 50px;
    }
  }

  &__list-item {
    display: inline-block;
    color: $white;

    @include onDesktop {
      font-size: 22px;
    }

    @include hover(transform, translateY(5px));
  }

  &__schedule {
    padding-top: 24px;
    font-size: 14px;
    border-top: 1px solid $white;

    @include onTablet {
      padding-top: 0;
      padding-left: 38px;
      border-top: none;
      border-left: 1px solid $white;
    }

    @include onDesktop {
      padding-left: 102px;
    }
  }

  &__schedule-title {
    margin-bottom: 20px;
  }

  &__schedule-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 21px;

    @include onTablet {
      flex-direction: row;
      gap: 38px;
    }
  }

  &__schedule-list {
    min-width: 158px;
  }

  &__schedule-item {
    font-weight: 600;
  }

  &__schedule-weekend {
    max-width: 144px;
  }
}
